.header {
    font-family: 'Silkscreen', 'Inter', sans-serif, cursive;
    cursor: default;
    font-size: 70px;
}

@media only screen and (max-width: 600px) {
    .header {
        font-family: 'Silkscreen', 'Inter', sans-serif, cursive;
        cursor: default;
        font-size: 30px;
    }
    
  }

.button:hover {
    background-color: rgba(0,0,0,0.4);
}