$fadedBorder: rgba(228, 255, 255, 0.5);

.liveblock {
    @apply w-[5%] h-[10%] bg-primary-900 md:w-[5%] md:h-[7%];
    border-color: rgba(18, 136, 179, 0.9);
    border-width: 0.1px;

}
.liveblock_wrapper {
    @apply flex flex-row flex-wrap absolute h-screen w-screen;
}
.liveblock:hover {
    animation: background 1s  normal cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.liveblockcloseby {
    border-color: rgba(228, 218, 218, 0.02);
}

.liveblockcloseby_left {
    opacity: 0.5;
    animation: borderLeft 1s  normal cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.liveblockcloseby_right {
    opacity: 0.5;
    animation: borderRight 1s  normal cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.liveblockcloseby_top {
    opacity: 0.5;
    animation: borderTop 1s  normal cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.liveblockcloseby_bottom {
    opacity: 0.5;
    animation: borderBottom 1s  normal cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}





@keyframes borderLeft {
    0% {
        opacity: 0;
        border-color: transparent;
    }
    100% {
        border-left: 0.1px;
        border-color: $fadedBorder;
    }
}

@keyframes borderRight {
    0% {
        opacity: 0;
        border-color: transparent;
    }
    100% {
        opacity: 0.5;
        border-radius: 0.1px;
        border-color: $fadedBorder;
    }
}

@keyframes borderTop {
    0% {
        opacity: 0;
        border-color: transparent;
    }
    100% {
        opacity: 0.5;
        border-top: 0.1px;
        border-color: $fadedBorder;

    }
}

@keyframes borderBottom {
    0% {
        opacity: 0;
        border-color: transparent;
    }
    100% {
        opacity: 0.5;
        border-bottom: 0.1px;
        border-color: $fadedBorder;
    }
}

@keyframes background {
    0% {
        opacity: 0;
        background-color: transparent;
        border-color: transparent;
    }
    100% {
        opacity: 0.5;
        background-color:  rgba(255,255,255,0.1);
        background-image: linear-gradient(to right, rgba(255,255,255,0.3) , rgba(255,255,255,0.5));
        border-color: #fff;
    }
}